
nav {
    margin: 5px;
    left: 1px;
    width: 200px;
    font-family: arial;
    position: absolute;
    
}

nav li
{
    margin: 10px;
    border: 2px solid #333;
    padding: 2px;
    background-color: #770000;		
}	

nav ul
{
    list-style-type: none;
    margin: 1px;
    padding: 10px; 
    text-align: center;
}
body
{
    width:70%;
	color: white;
	background-color: #bf4747;
	margin-left:auto;
	margin-right:auto;
	font-family:verdana, arial;
	text-align:center;
	border-radius: 10px;
    box-shadow: 8px 8px 5px 10px black;
    background-image: url(../images/background.jpg)

}

h2 
{
    font-size:20px;
    margin: 30px;
}

p, ul 
{
    margin:30px;
    text-align: left;
}



.picture_right
{
    float:right;
    margin-right: 10px;
}



article
{
    width: 90%;
    margin-right: 15px;
}


iframe 
{
    border: 5px;
}

footer p
{
    font-size: 12px;
    text-align: right;
    font-style: italic;
}

a.onpage:visited 
{
    color: yellow;

}

a.onpage:link 
{
    color: yellow;
    text-decoration: none;
}

a.onpage:hover 
{
    color: yellow; 
    border-width: 1px;
    text-decoration: underline;
}

a.onpage:active 
{
    color: yellow;
    text-decoration: none
}


.menu {
    
    color: orange;
    text-decoration: none;

}

#active {
    color: aqua
}


.mainImages {
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

ol li{
    	text-align:left;
    
}


form {
    padding: 1em;
    color: #000;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}




.mainForm {
    
     float: left;
    width: 200px;
    text-align: right;
    padding-right: 10px;
}


input {
     
    width: 300px;
    margin-left: 1em;
    margin-bottom: .5em;
}

.required {
    font-weight: bold;
    color: orangered;
}



.col_detail {
    column-count: 2;
    column-rule: 1px solid red;
    column-gap: 50px;
    padding: 2px;
}

a:link {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: red;
  text-decoration: underline;
}
a {
  color: whitesmoke;
}